:root {
  --accent-color: hsl(160, 51%, 49%);
  --text-color: hsl(209, 34%, 30%);
  --heading-color: hsl(209, 61%, 16%);
  --border-color: hsl(212, 33%, 89%);
}

* {
  box-sizing: border-box;
}

body {
  margin: unset;
  font: normal 16px/1.5 "Source Sans Pro", system-ui, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  color: var(--text-color);
}

h1, h2, h3 {
  font-weight: lighter;
  color: var(--heading-color);
  margin: unset;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 15px 10px;
}

tr:nth-child(odd) {
  background-color: hsl(210, 36%, 96%);
}

svg, img {
  vertical-align: middle;
}

.wrapper {
  padding: 0 calc((100vw - 1024px) / 2);
}