.button {
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 40px;
  padding: 0 15px;
  cursor: pointer;
  transition: background-color .1s linear, color .1s linear;
}

.button.is-primary {
  color: white;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.button.is-primary:hover,
.button.is-primary:focus {
  background-color: white;
  color: var(--accent-color);
}

.button.is-secondary {
  color: var(--text-color);
  background-color: var(--border-color);
  border-color: var(--border-color);
}

.button.is-secondary:hover,
.button.is-secondary:focus {
  background-color: white;
}

.button > .icon {
  margin-right: 8px;
}